@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


.logoTop{
    color: white;    
    font-weight: 900;
    text-transform: uppercase;
}

body{
    background-color: #ebeff5;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

.navbar-nav {
     margin-left: auto!important;
     margin-right: 30px;
}

.navbar-custom{
    background-color: rgb(43, 43, 48)!important;
}

.navbar-nav .nav-item.active .nav-link{
    color: white;
    font-family: "Quicksand", sans-serif;

}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 59, 59);
}

.listtitle{
    text-transform: uppercase!important;
    background-color: rgb(43, 43, 48)!important;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
}